body {
  background-image: url(img/night.jpg);
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 260px;
}

a {
  justify-content: center;
  display: flex;
  margin-top: 90px;
}

button {
  padding: 20px;
  padding-inline: 200px  ;
  font-size: 23px;
  border-radius: 20px;
}

a:hover {
  transform: scale(1.1);
}


button {
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #01579b;
}

.drop {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0288d1;
    border-radius: 50%;
    animation: drop-fall 1.5s ease-out forwards;
}

@keyframes drop-fall {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
    50% {
        transform: translateY(200px) scale(0.8);
        opacity: 0.8;
    }
    100% {
        transform: translateY(400px) scale(0);
        opacity: 0;
    }
  }